@import url(variables.css);

*{
    box-sizing: border-box;
    
}

html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* -----Ajustes generales ------- */
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--bg-100);
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

a, span, li, ul, i, div{
    margin:0;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: var(--bg-200);
    height: 10vh;
    border: none;
    display: flex;
    flex-direction: row;
    color: var(--text-200);
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header .containerMenu{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

header .containerMenu .navBar{
    display: none;
}

header .containerMenu i{
    font-size: 1.5rem;
}

header .containerRedes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:15px;

}

header .containerRedes a{
    text-decoration: none;
    color: var(--text-200);
    border: 1px solid var(--accent-100);
    border-radius: 20%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

header .containerRedes a:hover{
    background-color: var(--bg-300);
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--text-100);
    color: var(--bg-200);
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -2.5em;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
}

[data-title] {
    position: relative;
}


main{
    background-color: var(--bg-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

section{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--text-200);
}

main .masDetallesOculto{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    clip-path: 	circle(0% at 0 0);
    transition: all 1.5s ease;
}

main .masDetallesActivo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary-200);
    visibility: visible;
    clip-path: 	circle(120% at 0 0);
    transition: all 1.5s ease;
    z-index: 9999999;
}


main .generalInfo{
    display: flex;
    flex-direction: column;
    
}

main .generalInfo .datosPersonales{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

main .generalInfo .datosPersonales .containerDatos p{
    display: none;
}

main .generalInfo .datosPersonales .containerDatos button{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, var(--text-300), var(--primary-300));
    color: var(--bg-100);
    box-shadow: 0px 0px 5px var(--accent-100);
    cursor: pointer;
    
}

main .generalInfo .datosPersonales .containerFoto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-200);
    width: auto;
    border-radius: 10%;
    
}

main .generalInfo .datosPersonales .containerFoto img{
    max-width: 200px;
    border-radius: 10%;
    filter: brightness(80%);
    object-fit: cover;
    width: 100%;
    box-shadow: 3px 4px 5px var(--primary-300);
    

}

/* main section.generalInfo .datosPersonales .containerDatos h4{
    color: var(--accent-200);
} */

main .generalInfo .datosPersonales .containerDatos span{
    background: linear-gradient(to right, var(--text-300), var(--primary-300));
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

main .generalInfo .containerTecnologias{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;

}

main .generalInfo .containerTecnologias .sliderTecnologias{
    width: 80vw;
    overflow: hidden;
}


main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias {
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: max-content;
    gap: 20px; 
}

main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias:hover{
    animation-play-state: paused;
}


main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias .itemTechno i{
    font-size: 2.5rem;
    color: var(--primary-300);
} 

main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias .itemTechno p{
    font-size: 0.6rem;
    color: var(--primary-200);
    
}

main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias .itemTechno i:hover{
    color: var(--text-300);
}
main .generalInfo .containerTecnologias .sliderTecnologias .tecnologias .itemTechno i:hover + p{
    color: var(--text-300);
}


@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-51%);
        transform: translateX(-51%);
    }
}


/* Sección de Proyectos */
/* main .projects{
    background-color: #F2F0EB; 
   }*/

main .projects .containerCardsProjects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: 100%;
    height: auto;
    justify-content: center;
    justify-items: center;
    row-gap: 15px;
}

main .containerCardsProjects .cardProject{
    display: grid;
    grid-template-areas:
    "image"
    "image"
    "image"
    "image"
    "titulo"
    "description"
    "iconos";
    width: 90%;
    height: auto;
    border: 1px solid var(--primary-300);
    border-radius: 5px;
    padding: 5px;
}


main .containerCardsProjects .cardProject .cardImg{
    grid-area: image;
    
}

main .containerCardsProjects .cardProject .cardImg img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

main .containerCardsProjects .cardProject h4{
    grid-area: titulo;
    justify-self: left;
    color: var(--primary-300);
}

main .containerCardsProjects .cardProject p{
    grid-area: description;
    justify-self: left;
    font-size: 0.7rem;
}

main .containerCardsProjects .cardProject .cardIconos{
    grid-area: iconos;
    justify-self: right;
}



/*------------------Responsive-------------------------*/

@media (min-width: 1200px){
    
    body{
        display: grid;
        justify-items: center; 
        width: 100%;
    }

    main{
        width: 60vw;
    }

    section{
        width: 60vw;
    }

    header{
        width: 100%;
        justify-content: space-between;
        

        
    }

    header .containerMenu i{
        display: none;
    }

    header .containerMenu .navBar{
        display: block;
        width: 80%;
    }

    header .containerMenu .navBar ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    header .containerMenu .navBar ul li{
        cursor: pointer;
    }

    header .containerRedes{
        width: 10%;
        justify-content: center;
    }

    main .generalInfo{
        justify-content: center;
        height: 90vh;
    }

    main .generalInfo .datosPersonales{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        
    }

    main .generalInfo .datosPersonales .containerDatos{
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        text-align: left;
        width: 50%;
        height: 40%;
    }

    main .generalInfo .datosPersonales .containerDatos p{
        display: block;
        font-size: 1rem; 
    }

    main .generalInfo .datosPersonales .containerFoto img{
        max-width: 300px;
    }    

    main .generalInfo .containerTecnologias .sliderTecnologias{
        display: flex;
        justify-content: center;
        
    }


}

@media (min-width: 992){

}
  
@media (min-width: 768){
    
}

@media (min-width: 576){
    
}
