:root{
    --colorSecond1:#000000d7;
    --colorSecond2:#000000be;
    --colorSecond3:#0d4c7f;
    --colorSecond4: #0a599a;
    --colorSecond5: #0b6fbe;
    --colorSecond6: #188ddf;
    --colorSecond7: #41a9ef;
    --colorSecond8: #83c5f6;
    --colorSecond9: #bddffa;
    --colorSecond10: #e1effd;
    --colorSecond11: #f1f8fe;
    --colorSecond12: rgba(193, 221, 247, 0.651);

}